#export {
    display: none !important;
}

iframe {
    overflow-y: visible;
    height: 100%;
    width: 100%;
}

pluto-trafficlight {
    display: none;
}

/* #messages {
    color: white;
}

ads {
    background-image: url("static/img.svg");
} */