.h1-testing {
    color: red;
}



.cell-testing-cont {
    background: rgb(69, 71, 65);
    margin-top: 10vh;
    border-radius: 20px;
    padding: 2vh;
    width: 60vw !important;
}

.cell-row {
    width: 26vw !important;
    max-width: 26vw !important;
}


#main-export {
    height: 100vh;
    background: rgb(46, 48, 42);
}